/* /----------------------------------
.......Unicode Style..............
-............................///// */

.love-imoji{
    color: var(--text-color);
    font-size: 5rem;
}

:root{
    --text-color:green;
}

.property{
    white-space: nowrap;
}